{% extends "base.html" %}

{% block content %}
        <form action="/books" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title">
            <label for="author">Author</label>
            <input type="text" name="author" id="author">
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
            <label for="description">Description</label>
            <input type="text" name="description" id="description">
            <label for="rating">Rating</label>
            <input type="text" name="rating" id="rating">
            <input type="submit" value="Add Book">
        </form>
        
        </div>
        <h1>Book List</h1>
        
        <p></p>
        {% for book in books %}
        <div class="books">
            <p>Title:    {{book.title }}<br>
                Author:  {{book.author}}<br>
                Genre:   {{book.genre}}<br>
                <a href="/books/{{books.index(book)}}">More book information</a></p>
                <form class="form-inline" action="/books/delete/{{ book.title }}" method="POST">
                    <input type="submit" value="Delete">
                </form>
        </div>
        {% endfor %}
{% endblock %}